body {
    margin: 0em auto;
    padding: 0em;
    text-align: center;
    display: table;
}

.cv{
    height: 141.4vw;
    width: 100vw;
    background-color: tomato;
}

body .cv{
    display: table-cell;
}
