body {
    margin: 0em auto;
    padding: 0em;
    text-align: center;
    display: table;
}

.cv{
    float: left;
    height: 100vw;
    width: 70vw;
    margin-left: 15vw;
    background-color: tomato;
}

body .cv{
    display: table-cell;
}
